@{
    ViewData["Title"] = "WebSales";
    ViewData["Message"] = "This is my first ASP.NET project.";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>This a website to manage your sales register easily.</h2>
    <br />
    <p>@ViewData["message"]</p>
</div>
