@model WebSales.Models.SalesRecord

@{
    ViewData["Title"] = "Sales Records";
}

<h2>
    @ViewData["Title"]
</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <h3>
                Simple Search
            </h3>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        @* <div class="form-group mb-2">
        <label asp-for="Seller.DepartmentId" class="control-label"></label>
        <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="Seller.DepartmentId" class="text-danger"></span>
        </div> *@

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h3>
                Group Search
            </h3>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        @* <div class="form-group mb-2">
        <label asp-for="Seller.DepartmentId" class="control-label"></label>
        <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="Seller.DepartmentId" class="text-danger"></span>
        </div> *@

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}